language: go
go:
  - "1.10"

sudo: true

addons:
  apt:
    packages:
    - python
    - python-pip

install:
  - sudo pip install awscli

script: ./build.sh

deploy:
  provider: script
  skip_cleanup: true
  on:
    branch: master
  script:
    - aws cloudformation package --s3-bucket $CFN_BUCKET --template-file template.yml --output-template-file packaged-template.yml
    - aws cloudformation deploy --template-file packaged-template.yml --stack-name $CFN_STACK --capabilities CAPABILITY_IAM
